{% extends 'main/layout.html' %}
{% load static %}

{% block title %}
Home
{% endblock %}

{% block myblock1 %}
<div class="features">
    <h1>Here you'll learn how to use it.</h1>
    <div>
        <h2>Tutorial how to download youtube video</h2>
        <div class="div-youtube-tutorial">
                <img src="{% static 'main/img/youtube_hint.png' %}">
            <p>
                Step 1 - You have to enter the link of video you want to download<br>
                Step 2 - You have to choose the resolution of video<br>
                Step 3 - Press the button to download<br>
            </p>
        </div>

    </div>
    <div>
        <h2>Tutorial how to convert files</h2>
        <div class="div-convert-tutorial">
            <p>
                Step 1 - Select your file<br>
                Step 2 - Choose<br>
                Step 3 - Press the button to download<br>
            </p>
            <img src="{% static 'main/img/convert_hint.png' %}">
        </div>

    </div>
    
</div>
{% endblock %}