{% extends 'main/layout.html' %}

{% block title %}
Home
{% endblock %}

{% block myblock1 %}
<div class="features">
    <h1>Here you'll learn how to use it.</h1>
    <h2>Tutorial how to download youtube video</h2>
    <p>
        Звуки дзвінкої пісні розливаються навколо, а серце відчуває радість від ніжних слів, які грають у душі. Українська мова – це мелодія, що сплітається з історією нашої нації, втілюючи дух наших предків та багатство культурного спадку.
        В Україні, країні витканій з незалежності та сміливості, українська мова займає особливе місце. Вона не просто засіяна у наших розмовах та літературних шедеврах, але є сильним символом національного єднання. Це інструмент спілкування, що дарує можливість виразити свої думки, емоції та почуття.
        Українська мова має свою особливу гармонію та вишуканість. Її слова, як кришталеві нитки, переплітаються в текстах віршів, прози та пісень. Вона вміє бути витонченою та ніжною, коли розповідає про кохання і красу природи, але й одночасно виступає сильною та виразною, коли йдеться про національну гідність та боротьбу за свободу.
        Наша мова – це скарбниця народної мудрості. Українські прислів'я та приказки передають важливі життєві уроки та цінність культурних традицій. Вони мають силу нагадувати про наші коріння, підтримувати віру у майбутнє та вчити любові до ближнього.
        Українська мова також є символом нашої національної самосвідомості. Вона допомагає зберегти нашу ідентичність, підкреслює нашу унікальність серед інших народів світу. Кожне слово, кожне висловлювання українською – це вияв нашої національної гідності та патріотизму.
        Тож нехай українська мова завжди лунає від покоління до покоління, передаючи спадок нашим дітям. Нехай вона залишається мостом спілкування, що об'єднує нас у гармонійній спільноті. Нехай кожен з нас, знаючи та поважаючи українську мову, збагачує світ своєю унікальністю та красою.
        Українська мова – це скарб, який треба берегти, шанувати та розширювати. Вона є нашим виразом самобутності, нашим сполучником із минулим та майбутнім. Ця мова – дзеркало нашої національної душі, що відбиває усю її красу та силу.
    </p>
</div>
{% endblock %}